html {
  height: 100%;
  width: 100%;
}

body {
    padding: 0;
    margin: 0;
    background-color: #762e54;
}

#barrinha {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #af88a5;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

li {
  float: left;
}

li.barra a {
  display: block;
  color: white;
  text-align: center;
  padding: 40px 40px;
  text-decoration: none;
  font-size: 20px;
}

li.logo a {
  text-align: center;
  padding: 0px 0px;
}

li.barra a:hover {
  display: block;
  color: white;
  text-decoration: none;
  background-color: #5d1818;
}

#quemsomos {
  color: white;
  text-align: center;
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 20px;
  padding-top: 10px;
}

#info {
  color: white;
  text-align: center;
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 20px;
  padding-top: 10px;
}

#contatos {
  color: white;
  text-align: center;
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 20px;
  padding-top: 10px;
}

.container{
  padding-top: 50px;
  padding-bottom: 50px;
}